{% extends "main.html" %}
{% block title %}Login{% endblock title %}
{% block nav_bar %}{% endblock nav_bar %}
{% block content %}
	<center><section class="container">
		<div class="logo-box">
			<a href="{{ url_for('index') }}">
				getAroom
			</a>
		</div>
		<div class="form_div">
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						<p class="hide">{{ message }}</p>
					{% endfor %}
				{% endif %}
			{% endwith %}
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						<div class="alert {{ category }}">{{ message }}</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			<form method="POST" class="form-class">
				{{ form.hidden_tag() }}
				{{ form.femail.label() }}
				{% if form.femail.errors %}
					{{ form.femail(class="form_look-danger", placeholder="Enter Email") }}
					{% for error in form.femail.errors %}
						<div class="error-div">{{ error }}</div>
					{% endfor %}
				{% else %}
					{{ form.femail(class="form_look", placeholder="Enter Email") }}
				{% endif %}
				 <br>
				{{ form.fpassword.label() }}
				{% if form.fpassword.errors %}
					{{ form.fpassword(class="form_look-danger", placeholder="Enter Password") }}
					{% for error in form.fpassword.errors %}
						<div class="error-div">{{ error }}</div>
					{% endfor %}
				{% else %}
					{{ form.fpassword(class="form_look", placeholder="Enter Password") }}
				{% endif %}
				<br>
				{{ form.fconfirmPassword.label() }}
				{% if form.fconfirmPassword.errors %}
					{{ form.fconfirmPassword(class="form_look-danger", placeholder="Confirm Password") }}
					{% for error in form.fconfirmPassword.errors %}
						<div class="error-div">{{ error }}</div>
					{% endfor %}
				{% else %}
					{{ form.fconfirmPassword(class="form_look", placeholder="Confirm Password") }}
				{% endif %}
				<br>
				{{ form.fsubmit(class="submit-btn", value="login") }}
			</form>
		</div>
		<div class="nav">
			<a href="{{ url_for('login') }}"><p><strong>&larr; Go Back</strong></p></a>
			<p>to login page</p> 
        </div>
	</section></center>
{% endblock content %}