#profile-user-name {
    margin-top: 92px;
    margin-bottom: 30px;
    width: 50%;
}

body {
    min-height: 80vh;
}

#profile_container {
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 5px;
    overflow: hidden;
    align-items: center;
}

#others {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
}

#image-box {
    /* background-color: aquamarine; */
    width: 168.8px;
    height: 168.8px;
    border: solid 1px wheat;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 168.8px;
}

.pro-img {
    width: 100%;
    /* height: 100%; */
    border-radius: 50%;
}

#profile_name,
#profile_email,
#profile_phoneNum {
    height: auto;
    border: white solid 1px;
    border-radius: 5px;
    width: 80%;
    text-align: left;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 11px;
    background-color: whitesmoke;
    color: black;
    box-shadow: inset 0 0 2px #000000;
    font-size: large;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#profile_form {
    width: 50%;
    height: 100%;
    margin: auto;
    /* height: 100px; */
}

#upload-pic {
    background-color: #343541;
    border: solid whitesmoke 1px;
    border-radius: 5px;
    width: 60%;
    margin: 0 auto 10px auto;
    text-align: left;
    padding-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#upload-pic p {
    font-size: 15px;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}

.profile-form-class {
    border: solid 1px rgb(130, 130, 130);
    border-radius: 10px;
    background-color: #202123;
    text-align: center;
    padding-top: 10px;
    height: 634px;
}

.profile-form-class input {
    margin: auto;
}

/*#reviewInPro{
    /* float: right;
    right: 0;
    top: 50px;
    font-size: 1rem;
    width: 400px;
    padding: 0 15px;
    padding-bottom: 10px;
} */

@media screen and (max-width: 480px) {
    #profile-user-name {
        font-size: 0.7rem;
        width: 100%;
        margin: 92px 0 30px 0;
    }

    #profile_form {
        width: 100%;
        height: 82vh;
        /* margin: auto; */
    }

    #profile_container {
        padding-bottom: 20px;
        border-bottom: 1px rgba(245, 222, 179, 0.067) solid;
    }

    .profile-form-class {
        border: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        height: 90vh;
    }

    #image-box {
        width: 100px;
        height: 100px;
        border: solid 1px wheat;
        border-radius: 0;
    }

    #profile_name,
    #profile_email,
    #profile_phoneNum {
        height: auto;
        border: none;
        border-radius: 5px;
        width: 80%;
        text-align: left;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        /* background-color: whitesmoke; */
        /* color: black; */
        /* box-shadow: inset 0 0 2px #000000; */
        font-size: 0.8rem;
        /* overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; */
    }
}